@import "tailwindcss";

    /* @import "tailwindcss/preflight";
    @import "tailwindcss/utilities"; 
    @import "tailwindcss/components";  */


    :root {
      --font-jost: 'Jost', sans-serif;
      --font-poppins: 'Poppins', sans-serif;
      --font-roboto: 'Roboto', sans-serif;
    }
    
    .font-jost {
      font-family: var(--font-jost);
    }
    
    .font-poppins {
      font-family: var(--font-poppins);
    }
    .font-roboto {
      font-family: var(--font-roboto);
    }
    
.text-stroke{
  -webkit-text-stroke: 1px #c9c9c9;
  color: transparent;
  transition: all 0.3s ease-in-out;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 @keyframes shadowGlow {
  0% {
    box-shadow: 0 0 1px 5px #ec4899;
  }
  25% {
    box-shadow: 0 0 1px 5px #8b5cf6;
  }
  50% {
    box-shadow: 0 0 1px 5px #f43f5e;
  }
  75% {
    box-shadow: 0 0 1px 5px #8b5cf6;
  }
  100% {
    box-shadow: 0 0 1px 5px #ec4899;
  }
}
.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}
.bg-border-gradient {
  background: linear-gradient(270deg, #ec4899, #8b5cf6, #f43f5e);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
}
.animate-shadow-glow {
  animation: shadowGlow 6s ease-in-out infinite;
}
